extends layout

block content
  div.container.py-4
    h1.text-center.mb-4 Sobre Nosotros

    p.text-center Somos dos compañeros de Ingeniería Informática, apasionados por la tecnología y los desafíos que conlleva. Este proyecto se ha desarrollado como parte de la asignatura Multimedia, un espacio que nos ha permitido explorar nuevas ideas y herramientas para crear aplicaciones prácticas y creativas.

    div.row.mt-5
      div.col-md-6.text-center
        img(src="/images/compañero1.png" alt="Compañero 1" width="150" height="150")
        h3.mt-3 Jose Lara Navarro
        p José es un estudiante con especial interés en el desarrollo de software, la inteligencia artificial y el diseño de aplicaciones multimedia. Disfruta trabajar en equipo y aprender nuevas tecnologías que impulsen la innovación.

      div.col-md-6.text-center
        img(src="/images/compañero2.png" alt="Compañero 2" width="150" height="150")
        h3.mt-3 Alejandro Paniagua Rodríguez
        p Alejandro es apasionado por el desarrollo web y las tecnologías frontend. Su enfoque está en la creación de interfaces amigables y funcionales que permitan a los usuarios disfrutar de la tecnología de forma intuitiva.

    div.row.mt-3
      div.col.text-center
        p Este proyecto refleja el esfuerzo y dedicación que hemos puesto en el aprendizaje de tecnologías como Node.js, Express, Pug y el desarrollo de aplicaciones web. A lo largo de su desarrollo, hemos buscado no solo cumplir con los requisitos técnicos, sino también incorporar elementos creativos que resaltaran los detalles que sabemos que son importantes, como el uso del color naranja, que simboliza energía, creatividad y dinamismo, alineado con los valores de nuestro trabajo.
