// views/index.pug
extends layout

block content
  h1 Sincronización Manual de Karaoke
  form(id='karaokeForm', method='post', enctype='multipart/form-data')
    label(for='projectName') Nombre del Proyecto:
    input(type='text', id='projectName', name='projectName', required)
    br
    label(for='audioFile') Cargar Base Musical:
    input(type='file', id='audioFile', name='audioFile', accept='audio/*', required)
    br
    label(for='lyrics') Pega la letra:
    textarea(id='lyrics', name='lyrics', rows='10', cols='50') Pega la letra aquí...
    br
    button(type='button', id='syncButton') Iniciar Sincronización
  div(id='syncSection', style='display:none')
    audio(id='audioPlayer', controls)
    ul(id='lyricsList')
    button(type='button', id='markButton') Marcar Tiempo
  script(src='/javascripts/sync.js')
