
nav {
  background-color: #ffd8a6;
}

header {
  background-color: #fff4cc;
}

header h1 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

main {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

footer {
  background-color: #35323d;
}

.banner img {
  width: 60%;
}

section.cta {
  background-color: #fff4cc;
  border-radius: 10px;
}

.btn-primary {
  background-color: #737284;
  border-color: #737284;     
  color: white;            
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #35323d; 
  border-color: #35323d;     
}

.btn-primary:disabled {
  background-color: #b0afbd; 
  border-color: #b0afbd;
  color: white;
}

#syncSection {
  padding: 20px;
}

#syncSection ul {
  list-style-type: none;
  padding: 0;
}

#syncSection li {
  padding: 5px;
  margin-bottom: 3px;
  border-bottom: 1px solid #ccc;
}

#syncSection li.marked {
  background-color: #d4edda;
  text-decoration: line-through;
}

.card-body {
  padding-bottom: 20px; /* Ajustar el espacio entre texto y botones */
}

.media-element {
  max-width: 640px;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: auto; /* Mantiene la proporción del video o canvas */
  border-radius: 8px; /* Para bordes redondeados (opcional) */
  display: block; /* Asegura que se comporten como elementos de bloque */
}

.progress-container {
  max-width: 640px; /* Coincide con el tamaño máximo del video y canvas */
  width: 100%; /* Ajusta al contenedor */
  height: 20px; /* Altura fija para la barra de progreso */
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 0%; /* Comienza vacío */
  height: 100%; /* Coincide con la altura del contenedor */
  background-color: green;
  transition: width 0.2s ease-in-out; /* Animación suave */
  border-radius: 10px;
}